{% extends '_base.html' %}

{% block header_content %}
{% endblock %}


{% block content %}

<div class="slide-container">
    <div class="slide slide-card-closed">
        <div class="covervid-wrapper">
            <video class="covervid-video" autoplay loop poster="./assets/tape.jpg">
                <source src="./assets/cassette.m4v" type="video/mp4">
            </video>
        </div>

        <div class="content-wrapper">
            <h1>{{ COPY.content.project_name }}</h1>

            <a class="btn btn-large btn-primary js-go" href="#"><i class="fa fa-play"></i> Go</a>
        </div>
    </div>

    <div class="slide slide-card-open">

    </div>

    <div class="player">
        <div id="audio-player" class="jp-jplayer"></div>
        <div id="jp_container_1" class="jp-audio">
            <div class="jp-type-single">
                <div class="gui">
                    <div class="controls">
                        <a href="javascript:;" class="play player-button" tabindex="1" title="play"><span class="fa fa-play"></span></a>
                        <a href="javascript:;" class="pause player-button" tabindex="1" style="display: none;" title="pause"><span class="fa fa-pause"></span></a>
                    </div>
                    <div class="jp-progress-container">
                        <div class="player-progress jp-progress">
                            <div class="jp-play-bar bar"></div>
                        </div>
                    </div>
                    <div class="playback-info">
                        <div class="current-time"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end .jp-audio -->
    </div> <!-- end #audio -->
</div>

{% endblock %}


{% block wide_content %}
{% include '_share_modal.html' %}
{% endblock %}


